
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

p, a {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  color: black;
}
 .navElements {
  font-size: 1.5rem;
 }
  // @media only screen and (min-width: 2200px) {
  //   nav {
  //     list-style-type: none;
  //     margin: 0;
  //     padding: 0;
  //     overflow: hidden;
  //     background-color: black;
  //     width: 100%;
  //     box-shadow: 0px 0px 10px black;
     
  //           li {
    
  //             font-size: 2.5rem;
  //             float: none;
 
  
  //           }
  
  //           .navContainer{
  //             List-style-type: none;
  //           }
            
  //         .navElements {
  //             display: block;
  //             color: white;
  //             text-align: center;
  //             padding: 14px 16px;
  //             text-decoration: none;
  //           float: none;
  //           clear:left;
  //           }
          
  //           .nameElement {
  //             display: block;
  //             color: white;
  //             text-align: center;
  //             padding: 14px 16px;
  //             text-decoration: none;
  //           }
            
  //           /* Change the link color to #111 (black) on hover */
  //           li a:hover {
  //             background-color: #111;
  //           }
  //   }
  

  // }


  @media only screen and (min-width: 800px) {
    nav {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      background-color:white;
      width: 100%;
      border-bottom: .5rem solid black;
      border-top: .5rem solid black;
      ul{
        padding: 0px;
        margin: 0px;

      }
            li {
              float: left;
              font-size: 1rem;
              margin: 0px;
            }
  
            .navContainer{
              List-style-type: none;
              margin: 0px;
            }
            
          .navElements {
              display: block;
              color: black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              float: left;
              margin: 0px;
              
            }
          
            .nameElement {
              font-family: 'Roboto Condensed', sans-serif;
              display: block;
              color: Black;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              margin: 0px;

            }
            
            /* Change the link color to #111 (black) on hover */
            li a:hover {
              background-color: red;
            }
    }
  
    nav li{
      font-size: 1.5rem;
      border-right: .5rem solid black;
      margin: 0px;


    }

  }



@media only screen and (max-width: 800px) {

    nav {
        list-style-type: none;
        margin: 0rem;
        padding: 0rem;
        border: 0rem;
        overflow: hidden;
        // background-color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-top: black .25rem solid;
        border-left: black .25rem solid;
        border-right: black .25rem solid;
        border-bottom: black .5rem solid;
        

          ul{
            margin: 0rem;
            padding: 0rem;
            border-top: black 1rem solid;
          
          }
        

            li {
              margin: 0rem;
              padding: 0rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-align: center;
            color:black;
         }         
          .NavElements {
              display: block;
              color: white;
              text-align: center;
              text-decoration: none;
              float: left;
              background-color: white;
            }
          
            .NameElement {
              display: block;
              color: white;
              text-align: center;
              text-decoration: none;  
           
            }
      }  
  }