
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

p, a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: black;
  text-decoration: none;
}
 
.titleClassMain{
  font-size: 2.5rem;
  text-align: center;
}

a:hover {
  background-color: yellow;
}
@media screen , print
and (min-device-width: 1024px)  

and (-webkit-min-device-pixel-ratio: 1){
    .container {
        height: 100vh;
        width: 100vw;
        display: grid;
        
     
        grid-template-columns: 7fr 3fr 5fr 3fr 3fr 6fr 4fr 3fr 3fr 4fr 2fr;
        grid-template-rows: 3fr 7fr 4fr 3fr 3fr 3fr 6fr;
      }


     .section-2{
       grid-column: 1/   4;
       grid-row:1;
       border: black .3rem solid;   
     }
     .section-3{
      grid-column: 4 /  10;
      grid-row:1;
      border: black .3rem solid;   
      background-color: red;  
    }
    .section-4{
      grid-column: 10;
      grid-row:1;
      border: black .3rem solid;     
    }

    .section-5{
      grid-column:1 ;
      grid-row:2;
      background-color:blue;
      border: black .3rem solid;     
    }

    .section-6{
      grid-column: 2/  span 2;
      grid-row:2;
      border: black .3rem solid;
      background-color: red;      
    }

    
    .section-7{
      grid-column: 11;
      grid-row:1;
      border: black .3rem solid;        
    }
   
   
  .section-8{
    grid-column: 4 / 11;
    grid-row:2;
    border: black .3rem solid;         
  }

  .section-9{
    grid-column: 11;
    grid-row:2;
    border: black .3rem solid;  
    background-color: blue;   
  }

  .section-10{
    grid-column: 1;
    grid-row:3;
    border: black .3rem solid;  
       
  }

  .section-11{
    grid-column: 3;
    grid-row:7;
    border: black .3rem solid;
    border-bottom: .5rem black solid;     
  }

  .section-12{
    grid-column: 4/7;
    grid-row:3;
    border: black .3rem solid;  
      
    background-color: red     
  }

  .section-13{
    grid-column: 7;
    grid-row:3;
    border: black .3rem solid;
           
  }

  .section-14{
    grid-column: 8/ 11 ;
    grid-row:3;
    border: black .3rem solid; 
    background-color: blue;      
  }

  .section-15{
    grid-column: 1;
    grid-row:4/7;
    border: black .3rem solid;
    background-color: yellow;       
  } 

  .section-16{
    grid-column: 2 /4;
    grid-row:4/6;
    border: black .3rem solid;        
  } 


  .section-17{
    grid-column: 4/6;
    grid-row:4/7;
    border: black .3rem solid;
    background-color: yellow;        
  } 

  .section-18{
    grid-column: 6;
    grid-row:4;
    border: black .3rem solid;   
    background-color: blue;     
  } 

  .section-19{
    grid-column: 7/10;
    grid-row:4;
    border: black .3rem solid;        
  } 

  .section-20{
    grid-column: 10;
    grid-row:4;
    border: black .3rem solid;        
  } 

  .section-21{
    grid-column: 11;
    grid-row:4;
    border: black .3rem solid; 
    background-color: yellow;      
  } 

  .section-22{
    grid-column: 2 /4;
    grid-row:6;
    border: black .3rem solid; 
    background-color: blue;       
  } 

  .section-23{
    grid-column: 6;
    grid-row:5/7;
    border: black .3rem solid;        
  } 

  .section-24{
    grid-column: 7/11;
    grid-row:5/7;
    border: black .3rem solid;   
    background-color: blue;    
  } 

  .section-25{
    grid-column: 11;
    grid-row:5/7;
    border: black .3rem solid;  
    background-color: yellow;      
  } 

  .section-26{
    grid-column: 1;
    grid-row:7;
    border: black .3rem solid;  
    border-bottom: .5rem black solid;
    background-color: red;      
  } 
  .section-27{
    grid-column: 2;
    grid-row:7;
    border: black .3rem solid;
    border-bottom: .5rem black solid; 
    background-color: blue;        
  } 

  .section-28{
 
    grid-column: 2/  4;
    grid-row:3;
    border: black .3rem solid;         
  } 
  
  .section-29{
    grid-column: 4/7;
    grid-row:7;
    border: black .3rem solid; 
    border-bottom: .5rem black solid;  
    background-color: red;       
  } 

  .section-30{
    grid-column: 7/9;
    grid-row:7; 
    border: black .3rem solid;
    border-bottom: .5rem black solid;         
  } 

  .section-31{
    grid-column: 9/11;
    grid-row:7; 
    border: black .3rem solid;
    border-bottom: .5rem black solid;  
    background-color: yellow;     
  } 

  .section-32{
    grid-column: 11;
    grid-row:7; 
    border: black .3rem solid;
    border-bottom: .5rem black solid; 
       
  } 

  .section-33{
    grid-column: 11;
    grid-row:3; 
    border: black .3rem solid;
    border-bottom: 5rem;       
  } 

}

@media only screen 
and (max-device-width: 1024px)  and (min-device-width: 600px)

and (-webkit-min-device-pixel-ratio: 1){
    .container {
        height: 100vh;
        width: 100vw;
        display: grid;
        
        grid-template-columns: 6fr 5fr 4fr 3fr 2fr 4fr;
        grid-template-rows: 3fr 6fr 4fr 3fr 5fr 6fr;
     
     
      }

      .item1 {
        grid-column: 3 / span 7;
        grid-row-start: 3;
        background-color: green;
      }
      

     .section-1{
       display: none;    
     }

     .section-2{
       display: none;      
        
     }
     .section-3{
      grid-column: 1 /  6;
      grid-row:1;
      border: black .3rem solid;     
    }
    .section-4{
      grid-column: 6;
      grid-row:1;
      border: black .3rem solid;     
    }

    .section-5{
      display: none;    
    }

    .section-6{
      display: none;       
    }

    
    .section-7{  
      display: none;    
    }
   
   
  .section-8{
    grid-column: 1 / 7;
    grid-row:2;
    border: black .3rem solid;         
  }

  .section-9{
      display: none;        
  }

  .section-10{
    grid-column: 1/3;
    grid-row:3;
    border: black .3rem solid;       
  }

  .section-11{
    display: none;         
  }

  .section-12{
    display: none;         
  }

  .section-13{
    grid-column: 3;
    grid-row:3;
    border: black .3rem solid;  
    background-color:red;     
  }

  .section-14{
    grid-column: 4/ 7 ;
    grid-row:3;
    border: black .3rem solid;       
  }

  .section-15{
    grid-column: 1;
    grid-row:4/7;
    border: black .3rem solid;
    display: none;           
  } 

  .section-16{ 
    grid-column: 1/3;
    grid-row:3;
    border: black .3rem solid;  
    display: none; 
  } 


  .section-17{
    grid-column: 1/2;
    grid-row:4/6;
    border: black .3rem solid;        
  } 

  .section-18{
    grid-column: 2;
    grid-row:4;
    border: black .3rem solid;
    background-color: red;        
  } 

  .section-19{
    grid-column: 3/6;
    grid-row:4;
    border: black .3rem solid;        
  } 

  .section-20{
    grid-column: 6;
    grid-row:4;
    border: black .3rem solid; 
    background-color: yellow;       
  } 

  .section-21{
    display: none;       
  } 

  .section-22{
    grid-column: 2 /4;
    grid-row:6;
    border: black .3rem solid;   
    display: none;         
  } 

  .section-23{
    grid-column: 2;
    grid-row:5/6;
    border: black .3rem solid;        
  } 

  .section-24{
    grid-column: 3/7;
    grid-row:5/6;
    border: black .3rem solid;       
  } 

  .section-25{
    display: none;         
  } 

  .section-26{ 
    display: none;         
  } 
  .section-27{ 
    display: none;            
  } 

  .section-28{ 
    grid-column: 1/3;
    grid-row:6;
    border: black .3rem solid; 
    border-bottom: .5rem black solid; 
            
  } 
  
  .section-29{
    display: none;  
  } 

  .section-30{
    grid-column: 4/7;
    grid-row:6; 
    border: black .3rem solid;
    border-bottom: .5rem black solid;      
  } 

  .section-31{
 
    
    grid-column: 3;
    grid-row:6; 
    border: black .3rem solid;
    border-bottom: .5rem black solid; 
  } 

  .section-32{
    display: none;  
  } 

  .section-33{
    display: none;    
  } 
}

@media only screen 
and (max-device-width: 650px) 

and (-webkit-min-device-pixel-ratio: 1){
    .container {
        width: 100vw;
        display: grid;
        height: 100vh;
        grid-template-columns: 6fr 5fr 4fr 3fr 2fr 2fr;
        grid-template-rows: 2fr 3fr 2fr 3fr 2fr 3fr 2fr;

      }

      .item1 {
        grid-column: 3 / span 7;
        grid-row-start: 3;
        background-color: green;
      }
      

     .section-1{
       display: none;    
     }

     .section-2{
       display: none;      
        
     }
     .section-3{
      grid-column: 1 /  6;
      grid-row:1;
      border: black .3rem solid;     
    }
    .section-4{
      grid-column: 6;
      grid-row:1;
      border: black .3rem solid;     
    }

    .section-5{
      display: none;    
    }

    .section-6{
      display: none;       
    }

    
    .section-7{  
      display: none;    
    }
   
   
  .section-8{
    grid-column: 1 / 7;
    grid-row:2;
    border: black .3rem solid;         
  }

  .section-9{
      display: none;        
  }

  .section-10{
    grid-column: 1/4;
    grid-row:3;
    border: black .3rem solid;       
  }

  .section-11{
    display: none;         
  }

  .section-12{
    display: none;         
  }

  .section-13{
    grid-column: 3;
    grid-row:3;
    border: black .3rem solid;  
    background-color:red; 
    display: none;    
  }

  .section-14{
    grid-column: 4/ 7 ;
    grid-row:3;
    border: black .3rem solid;       
  }

  .section-15{
    grid-column: 1;
    grid-row:4/7;
    border: black .3rem solid;
    display: none;           
  } 

  .section-16{ 
    grid-column: 1/3;
    grid-row:3;
    border: black .3rem solid;  
    display: none; 
  } 


  .section-17{
    grid-column: 1/2;
    grid-row:4/6;
    border: black .3rem solid;
    background-color: red;        
  } 

  .section-18{
    grid-column: 2;
    grid-row:4;
    border: black .3rem solid;  
    display: none;       
  } 

  .section-19{
    grid-column: 2/6;
    grid-row:4;
    border: black .3rem solid;        
  } 

  .section-20{
    grid-column: 6;
    grid-row:4;
    border: black .3rem solid; 
    background-color: yellow;       
  } 

  .section-21{
    display: none;       
  } 

  .section-22{
    grid-column: 2 /4;
    grid-row:6;
    border: black .3rem solid;   
    display: none;         
  } 

  .section-23{
    grid-column: 2/5;
    grid-row:5/6;
    border: black .3rem solid;        
  } 

  .section-24{
    grid-column: 5/7;
    grid-row:5/6;
    border: black .3rem solid;       
  } 

  .section-25{
    display: none;         
  } 

  .section-26{ 
    display: none;         
  } 
  .section-27{ 
    display: none;            
  } 

  .section-28{ 
    grid-column: 1/4;
    grid-row:6;
    border: black .3rem solid; 
    border-bottom: .5rem black solid; 
            
  } 
  
  .section-29{
    display: none;  
  } 

  .section-30{
    grid-column: 1/7;
    grid-row:7; 
    border: black .3rem solid;
    border-bottom: .5rem black solid;      
  } 

  .section-31{
    grid-column: 4/7;
    grid-row:6; 
    border: black .3rem solid;
    border-bottom: .5rem black solid; 
  } 

  .section-32{
    display: none;  
  } 

  .section-33{
    display: none;    
  } 
}
