.innerBox {
 
    border: black solid 2px;
    
    max-width: 50rem;
    margin: 1rem;
    padding: 2rem;


    figure {
        display: flex;
        flex-direction: column;

    }
    h2{
        font-size: 2.5rem;
        text-align: center;
    }

    p{
        font-size: 1.5rem;
        text-align: center;
    }
    li{
        font-size: 1.75rem;
        list-style: none;
        margin-left: 4rem;
    }
    ul{
        padding: 0;
    }

    a{
        color: black;
        font-size: 2rem;
    }

    

}

