.outFoot {   
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .footContaner {
    max-width: 50%;
    overflow: hidden;
    background-color: #333;
  }
  
  

  



